* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #ffffff;
    font-weight: 400;
}

main {
    padding: 50px;
}

main h1 {
    font-weight: 400;
    text-align: center;
}

.navigation {
    display: block;
    height: 100vh;
    width: 70px;
    position: absolute;
    background-color: rgb(136, 39, 145);
    box-shadow: 10px 0 0 #f69b1c;
    border-left: 10px solid rgb(136, 39, 145);
    overflow-x: hidden;
    transition: all 0.5s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.navigation::-webkit-scrollbar {
    display: none;
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}

.navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.navigation ul li:hover {
    background-color: rgba(81, 24, 86, 0.266);
    cursor: pointer;
}

.navigation ul li.active {
    background-color: #f69b1c;
    pointer-events: none;
}

.navigation ul li.active::before {
    content: "";
    position: absolute;
    width: 30px;
    height:  30px;
    top: -30px;
    right: 0;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #f69b1c;
}

.navigation ul li.active::after {
    content: "";
    position: absolute;
    width: 30px;
    height:  30px;
    top: 60px;
    right: 0;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #f69b1c;
}


.navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: flex;
    position: relative;
}

.navigation ul li a .icon {
    display: block;
    min-width: 45px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5rem;
}

.navigation ul li .title {
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
