<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample</title>
</head>

<body>
    ここは管理者用ページです
    {% for data in get_data %}
    {% if data.place == "嵐山" %}
    <p>place:　　　　{{ data.place }}　　time:{{ data.time }}　　rich:{{ data.rich }}</p>

    {% elif data.place == "北野天満宮" %}
    <p>place:　{{ data.place }}　　time:{{ data.time }}　　rich:{{ data.rich }}</p>
    {% elif data.place == "伏見稲荷" or data.place == "花見小路" %}
    <p>place:　　{{ data.place }}　　time:{{ data.time }}　　rich:{{ data.rich }}</p>
    {% else %}
    <p>place:　　　{{ data.place }}　　time:{{ data.time }}　　rich:{{ data.rich }}</p>
    {% endif %}
    {% endfor %}
    <a href="{{ url_for('logout') }}" class="btn">ログアウト</a>
</body>
</html>
